<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Co-Working | Administración</title>
  <link rel="shortcut icon" href="../img/favicon-196x196.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="background-cream">
  <section class="container text-center centered-view" id="initial-view">
    <div id="logIn">
      <h1>PANEL DE ADMINISTRACIÓN</h1>
      <hr>
      <div class="row">
        <div class="col-12">
          <img src="../img/header-logo.svg" alt="logo_coworking" id="logo-coworking">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input type="text" id="user-admin" class="form-control" placeholder="Ingresa tu usuario">
          </div>
          <div class="form-group">
            <input type="password" id="admin-password" class="form-control" placeholder="Ingresa la contraseña">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary btn-lg" id="init-button">Ingresar</button>
        </div>
      </div>
    </div>
  </section>
  <section id="table-container" class="hide">
    <div id="table" class="table-responsive">
      <div class="background-grey text-center head-card align-middle">
        <h1>Registro de visitas</h1>
      </div>

      <section id="button-row" class="hide">
        <div class="close" id="close">
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-primary btn-sm" id="logOut" name="logOut">Cerrar sesión</button>
            </div>
          </div>
        </div>
      </section>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>A quien visita</th>
            <th>Compañia</th>
            <th>Hora de ingreso</th>
            <th>Fecha</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="visitors-table">
          <!-- Space for dynamic table -->
        </tbody>
      </table>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/dashboard.js"></script>
</body>

</html>
