<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Co-Working | ¿A quién visitas?</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body id="host-body">


  <header class="card text-center head-card align-middle">
    <h1> ¿A quién visitas? </h1>
  </header>

  <main class="container text-center">
    <div class="row middle">
      <div class="col-2">
        <button type="button" class="btn btn-default btn-circle btn-xl" id="return-button-host">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>
      <div class="col-8">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="input-host-name" placeholder="Ingresa el nombre de quien visitas y seleccionalo de la lista">
          </div>
        </form>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-default btn-circle btn-xl hide" id="next-button-host">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <section class="container center" id="employees-list">
    </section>
  </main>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/host.js"></script>
</body>

</html>
