html {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.initial-view {
margin-top: 10%;
margin-bottom: auto;
}

#logo-coworking {
  margin-top: 5%;
  margin-bottom: 5%;
}

.head-card {
  background:#f8f9fa;
  /* height: 12vh; */
  padding: 10px;
}

.middle {
  margin-top: 25%;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

#return-button,
#next-button,
#return-button-splash,
#next-button-splash,
#next-button-player,
#return-button-player,
#return-button-host,
#next-button-host,
.log-out {
  background: #007bff;
  color:#ffffff;
}

.vertical-center {
  margin: auto;
}

.item-employee {
  margin: 0 auto;
}

.hide{
  display: none;
}

.progreso1{
  transition-delay: 4s;
  transition: all 0.45s ease-in-out;
  width: 34.333333%;
  animation: 0.5s;
  background-color: #007bff;
  max-width:768px
}

.block1{
  color: #ffffff;
}
#b1{
  color: #007bff;
}
.table{
  margin: 5% auto;
  border: 1px solid black;
  width: 80%;
}

#snapshot{
  width:640px;
  height: 480px;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: rgba(237,233,221,0.3);
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
